@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Appointment Page</title>
</head>
<body>
    <div>
        <h2>Request an Appointment</h2>
        @*@using (Html.BeginForm("Index", "Home"))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Programs" class="btn btn-default" />
            }*@

        @section scripts{
            <script type="text/javascript">

                $(document).ready(function () {
                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();
                    var calendar = $('#calendar').fullCalendar({
                        theme: true,
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month, agendaWeek, agendaDay'
                        },
                        defaultView: 'month',
                        editable: true,
                        allDaySlot: false,
                        selectable: true,
                        slotMinutes: 15,
                        select: function(start, end, allDay)
                        {

                            var title = prompt('Event Title:');

                            if (title)
                            {
                                var startHour = prompt('enter start time')
                                var startMinute = prompt('enter the minutes. example: 12:15 would be 15')
                                var endTime = prompt('enter end time')
                                var dateStart = prompt('enter start date, you only need DD')
                                var dateEnd = prompt('enter end date, you only need DD')
                                var cleaningInfo = prompt('Enter number of rooms and approx. SQFT')
                                calendar.fullCalendar('renderEvent',
                                    {
                                        title: title,
                                        start: new Date(y, m, dateStart, startHour, startMinute),
                                        end: new Date(y, m, dateEnd, endTime),
                                        data: cleaningInfo,
                                        allDay: false

                                    },
                                    true
                                );
                            }
                            calendar.fullCalendar('unselect');
                        },

                        editable: true,

                        events: [

                        ]

                    });

                });

            </script>
        }

        <div class="row">
            <div class="col-md-12">
                <div id="calendar">
                </div>
            </div>

        </div>
</body>
</html>

