@{
    ViewBag.Title = "About the small business overhaul";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Before I started at DevCode Camp I was working at a small business that was unorganized, we kept the records by hand, and kept track of inventory by remembering how many we had, so as you can well imagine, we had many errors ranging from lost appointment cards to running out of stock simply becasuse we forgot. This app will allow small business owners to totally overhaul their business and batter keep track of all essential things all businesses need. Imagine going from a business with all handwritten unorganized materials, to a business that has all files and other aspects of the business in one place, in a neat readable file location. The main goal behind this was to make the business be able to make more money, be more organized, and bring the business up to date.</p>
