@{
    ViewBag.Title = "Contact us here at the Small Business Overhaul";
}
<h2>@ViewBag.Title.</h2>

<address>
    8908 W. Maple St<br />
    West Allis, WI 53218<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>SBO Support:</strong>   <a href="mailto:Support@SmallBusinessOverhaul.com">Support@SmallBusinessOverhaul.com</a><br />
    <strong>SBO Marketing Team:</strong> <a href="mailto:Marketing@SmallBusinessOverhaul.com">Marketing@SmallBusinessOverhaul.com</a>
</address>