@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Small Business Overhaul</h1>
    <p class="lead">Welcome to my capstone! This app will allow small business owners to totally overhaul their business and batter keep track of all essential things all businesses need. Imagine going from a business with all handwritten unorganized materials, to a business that has all files and other aspects of the business in one place, in a neat readable file location. The main goal behind this was to make the business be able to make more money, be more organized, and bring the business up to date.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
</div></div>