@model IEnumerable<CCiezkiCapstone.Models.FullcalendarModel>

@{ 
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    List<List<Object>> theAppointments = new List<List<Object>>();

}
@foreach (var item in Model)
{
    theAppointments.Add(new List<object>() {item.title, item.date, item.description, item.address, item.event_id });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Appointment Control Page</title>
</head>
<body>
    <div>
        <h2>My Appointments</h2>

        @section scripts{
            <script type="text/javascript">

                $(document).ready(function () {
                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();
                    var calendar = $('#calendar').fullCalendar({
                        //theme: true,
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month, agendaWeek, agendaDay'
                        },
                        eventClick: function(calEvent) {

                            alert('Job information: ' + calEvent.title);
                        },
                        timezone: "local",
                        defaultView: 'month',
                        editable: true,
                        allDaySlot: false,
                        selectable: true,
                        slotMinutes: 15,
                        ignoreTimezone: false,
                    });
                    var events = @Html.Raw(Json.Encode(theAppointments));
                    for(var i = 0; i < events.length; i++){
                        calendar.fullCalendar('renderEvent',
                            {
                                title: events[i][0]+ "\n" +events[i][2]+ "\n" +events[i][3],
                                start: events[i][1],
                                allDay: false
                                
                            },
                            true 
                        );
                    }

                }); 
            </script>
        }
        <div class="row">
            <div class="col-md-12">
                <div id="calendar">
                </div>
            </div>
        </div>
</body>
</html>

